# Transplied and node
node_modules
build/app.css
build/app.js
build/index.html

### /home/fabio/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


### /home/fabio/.gitignore-boilerplates/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

